footer {
	padding: 0 10%;
	background: $green-dark;
	height:140px;

	.wrapper{
		background: transparent url('../../images/footer_logo.png') no-repeat;
		background-position: 50% 30%;
		height:140px;
	}

	.address{
		padding: 1em 0 0 0;
	}

	.copyright{
		padding:0em 0 0em;
		text-align:center;
		color:$grey-background;
		font-size: $font-s;
	}


}