header {
	padding: 0 10%;
	background: $green-dark url('../../images/header_background.png') repeat-x;
	height:145px;
	border-bottom:1px solid $white;

	.wrapper{
		height:145px;

		.hanka-hack-background{
			display:block;
			position:relative;
			left:0px;
			bottom:-7.5em;
			width:12em;
			height:20em;
			background: url('../../images/znak_white.svg') no-repeat transparent;
			background-position: center top;
			background-size: 100%;
		}
	}

	h1.header-logo-left{
		display:block;
		float:left;
		width:50%;
		height:110px;
		background: transparent url('../../images/header_logo_left.svg') no-repeat;
		background-position: 50% 40%;
		a{
			display:block;
			width:100%;
			height:112px;
			text-indent: -9999px;
		}
	}

	h2.header-logo-right{
		display:block;
		float:right;
		width:30%;
		height:110px;
		background: transparent url('../../images/header_logo_right.svg') no-repeat;
		background-position: 50% 50%;
		a{
			display:block;
			width:100%;
			height:112px;
			text-indent: -9999px;
		}
	}

	.main-menu{
		z-index:2;
		padding:0.5em 0 0 13em;
		float:left;
		ul li{
			display:inline-block;
			margin:0 1em 0 0;
		}

		a{
			//font-weight:bold;
			text-decoration:none;
			color:$black;
			font-size:$font-m;
		}
		a:hover{
			color:$gold;
		}

		a.active,
		a.selected
		{
			color:$gold;
		}
			
	}

	.lang-menu{
		padding-top:0.5em;
		float:right;
		ul li{
			display:inline-block;
			margin:0 0 0 0.5em;
		}
		a{
			//font-weight:bold;
			text-decoration:none;
			color:$black;
			font-size:$font-m;
		}
		a:hover{
			color:$gold;
		}

		a.active,
		a.selected
		{
			color:$gold;
		}

	}





}