.main {
	padding: 0 10%;
	
	&.js-background{
		background-image: url('../../images/bcg1.jpg');
		background-position: 50% 50%;
		background-size: cover;
		@include transition(all, 1s, ease-in-out);
	}	

	.wrapper{
		height: 500px;
		overflow: hidden;
	}

	.box1{
		text-align:center;
		margin:2em 0 0;
		padding:1em;
		width:200px;
		height:auto;
		background:$gold-opacity;
		float:left;
		
		h1{
			text-align:center;
			font-size:$font-xl;
			padding:0 0 0.5em 0;
		}

		p{
			text-align:justify;
			font-size:$font-s;
		}
		
		.logo-element{
			height:2em;
			width:2em;
			background: url('../../images/graphic_black.png') no-repeat transparent;
			background-position: 50% 50%;
			background-size: contain;
			margin: 0.5em auto;	
		}
	}

	.bcg-buttons{
		margin:2em 0 0;
		float:right;

		ul li{
			text-align:center;
			width:1em;
			height:1em;
			display:inline-block;
			@include rounded(1em);
			background:$white;
			margin:0 0.2em 1em;
			text-indent:-99999px;
			border:1px solid $black;
		}

		.active,
		.selected
		{
			background:$gold;
		}
	}


}

.text{
	
	padding: 0 10%;
	background: $grey-background;
	
	.wrapper{
		overflow: hidden;
	}

	.box {
		width: 33.3%;
		float: left;
		margin: 3em 0em;

		h2{
			font-weight:bold;
			font-size:$font-xl;
			margin:0em 1.625em 0em;
			padding:3em 0em 0.2em;
			border-bottom:1px solid $gold;
		}

		p.box-text{
			padding:0.5em 2em 1em;
			text-align:justify;
			min-height: 220px;

		}

		.img-center{
			display:block;
			margin:2em auto 0;
		}

		.more{
			float:right;
			height:auto;
			padding:0 2em 0 0;

			a{
				text-decoration:none;
				font-weight:bold;
				color:$black;
			}
			a:hover{
				color:$gold;
			}
		}
	}


}