@media only screen and (max-width:500px) {

	header, footer, .main, .text {
		padding: 0 2%;
		height: auto;

		.wrapper{
			height: auto;
		}
	}

	.main{
		.box1{
			width:auto;
			height:auto;
			float:none;
		}

	}

	.text{
		.box{
			width:100%;
			float:none;
		}

	}



}