@media only screen and (max-width:850px) {

	header {
		.wrapper{
			background-size: contain;
		}



		.main-menu{
			padding:0.5em 0 0 0em;
		}
	}

	.text{
		padding:0 10% 20px 10%;
		.box{
			margin: 1em 0em;


			.header{
				margin:0em 10px 0em;
				padding:3em 0em 0.2em;
			}

			p.box-text{
				padding:0.5em 10px 1em;
				min-height: inherit;
			}

			.more{
				padding:0 10px 0 0;
			}
		}

	}

}


@media only screen and (max-width:600px) {

	header, footer, .main, .text {
		padding: 0 2%;
		height: auto;

		.wrapper{
			
		}
	}

	header {
		background: $green-dark;
		.wrapper{
			background-size: contain;
			height:auto;
		}

		h1.header-logo-left{
			width:100%;
			height:auto;
			float:none;
		}

		h2.header-logo-right{
			display:none;
		}

		.main-menu{
			float:none;
			text-align:center;
			width:100%;
			ul{
			padding:1em 0;
			}
		}

		.lang-menu{
			float:none;
			text-align:center;
			width:100%;
			ul{
			padding:0em 0 1em;
			}
		}
	}

	footer {
		
		.wrapper{
			background-size: contain;
			background-position: 100% 50%;
			background-size: 50%;
			height:auto;
		}


	}

	.main{
		.box1{
			width:auto;
			height:auto;
			float:none;
			min-height:100px;
		}

	}

	.text{
		padding:0 2% 20px 2%;
		.box{
			width:100%;
			float:none;
		}

		.left-side{
			width:100%;
			padding:1em 0;
			background:red;
			float:none;
		}

		.right-side{
			background:blue;
			margin:1em 0em;
		}

	}



}